{% extends 'base.html' %}

{% block title %}
О нас
{% endblock %} | Магазин котиков

{% block content %}

<section class="jumbotron text-left">
        <div class="container-about">
          <h1 class="jumbotron-heading about-heading">О магазине</h1>
          <p class="lead text-muted about">Something short and leading about the shop, the owner, etc. Short and sweet, but not too short so folks don't simply skip over it entirely.</p>
          <p class="lead text-muted">...Some text...</p>
          <p class="lead text-muted">...Some text...</p>
          <p class="lead text-muted">...Some text...</p>
          <div class="p-3 border bg-light contacts">
          <p class="lead text"> Контакты:</p>
          <p class="lead text"> example@gmail.com</p>
          <p class="lead text"> 8-495-123-45-67</p>
          </div>
        </div>
      </section>
{% endblock %}